<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue - HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <link rel="stylesheet" href="app.css" />
    <script src="app.js" defer></script>
  </head>
  <body>
    <h1>Sample</h1>
    <main id="main">
      <div class="" flex-item>
        <img
          v-bind:src="imageLink"
          v-bind:alt="imageDesc"
          v-bind:height="imageHeight"
          v-bind:width="imageWidth"
        />
      </div>
      <div class="flex-item">
        <h3>Counter</h3>
        <p v-once>Starting Value: {{counter}}</p>
        <p>{{counter}}</p>
        <button v-on:click="increment">Increment 5</button>
      </div>

      <div class="flex-item">
        <h3>V-Model & Computed Properties</h3>
        <form @submit.prevent="clearForm">
          <input type="text" placeholder="Enter First Name" v-model="fname" />
          <br />
          <input type="text" placeholder="Enter Last Name" v-model="lname" />
          <br />
          <input type="submit" value="SUBMIT" />
        </form>
        <p v-if="fullName">{{fullName}}</p>
      </div>

      <div class="flex-item">
        <h3>List</h3>
        <p v-if="goals.length===0">No Goals Available</p>
        <form @submit.prevent="addGoals">
          <input type="text" placeholder="Enter Goal" v-model="enteredGoal" />
        </form>
        <br />
        <ul>
          <li
            v-for="(goal,index) in goals"
            :key="goal"
            @click="removeGoal(index)"
          >
            {{goal}}
          </li>
        </ul>
      </div>

      <div class="flex-item">
        <!--in the current setup, outputFullname will be invoked every time when the page renders [ state changes] -->
        <!-- To avoid this,get the fullname by calling the outputFullname fn when the page mounts -->
        <!-- <p>{{outputFullname()}}</p> -->
        <p>{{fullname}}</p>
        <p v-html="htmlText"></p>
        <p>
          <!-- v-bind:value -> instead we can use :value as a shorthand. -->
          <input type="text" v-bind:value="fullname" placeholder="Enter Text" />
        </p>
        <input
          type="text"
          v-on:input="setInputText"
          placeholder="Enter Text"
          v-on:keyup.enter="handleEnterKeyUp"
        />
        <p v-if="inputText">{{inputText}}</p>
        <br />
        <button v-on:click.right="handleRightClick">Button</button>
        <form v-on:submit.prevent="handleSubmit">
          <input type="text" placeholder="Enter Text" />
          <input type="submit" value="Submit" />
        </form>

        <form>
          <!-- <input
            type="text"
            v-bind:value="sampleText"
            placeholder="Enter Text"
            v-on:input="updateSampleText"
          /> -->
          <!-- instead of the above setup, we can use v-model directive which can be used to 
          the same thing as before. -->
          <input type="text" placeholder="Enter Text" v-model="sampleText" />
          <p v-if="sampleText">{{sampleText}}</p>
          <br />
          <small>{{ outputSampleText() }}</small>
        </form>
      </div>
    </main>
  </body>
</html>
